header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	z-index: 1000;
	background-color: white;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#nos_events {
	font-family: "Comic Neue", sans-serif;
	font-size: 4em;
	font-weight: bold;
	position: relative;
	z-index: 1;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#nos_events.rainbow {
	transform: scale(1, 1.5);
	-webkit-transform: scale(1, 1.5);
	-moz-transform: scale(1, 1.5);
	-o-transform: scale(1, 1.5);
	-ms-transform: scale(1, 1.5);
}

#nos_events.rainbow .text {
	background: red;
	background: -webkit-linear-gradient(
		left,
		#b306a9,
		#ef2667,
		#f42e2c,
		#ffa509,
		#fdfc00,
		#55ac2f,
		#0b13fd,
		#a804af
	);
	background: -o-linear-gradient(
		left,
		#b306a9,
		#ef2667,
		#f42e2c,
		#ffa509,
		#fdfc00,
		#55ac2f,
		#0b13fd,
		#a804af
	);
	background: -moz-linear-gradient(
		left,
		#b306a9,
		#ef2667,
		#f42e2c,
		#ffa509,
		#fdfc00,
		#55ac2f,
		#0b13fd,
		#a804af
	);
	background: linear-gradient(
		to right,
		#b306a9,
		#ef2667,
		#f42e2c,
		#ffa509,
		#fdfc00,
		#55ac2f,
		#0b13fd,
		#a804af
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.card {
	background-image: url(https://img.freepik.com/vecteurs-libre/conception-motif-degrade-aquarelle-ombre_23-2149666260.jpg?t=st=1733422922~exp=1733426522~hmac=b0042392327d78dab86f5baad19ab517dfd311e8b8c5fe070b6240883ce1d49d&w=740);
	border: double black 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Times New Roman", Times, serif;
	padding: 2%;
	text-align: justify;
	box-sizing: border-box;
	width: 100%;
	max-width: 300px;
	height: 465px;
	overflow: hidden;

	width: 100%;
}

.card img {
	width: 100%;
	height: 50%;
	object-fit: cover;
	margin-bottom: 10px;
}

.card h3 {
	text-transform: uppercase;
	font-family: "Comic Neue", sans-serif;
	font-size: 1.2em;
	margin: 0.5em 0;
}

.card p {
	flex-grow: 1;
}

#events img {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.bouttonInscrit {
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color: #ffec64;
	border-radius: 6px;
	border: 1px solid #ffaa22;
	display: inline-block;
	cursor: pointer;
	color: #333333;
	font-family: "Comic Neue", sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffee66;
	border: double black 3px;
}

.card .content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	width: 100%;
}

.visitor {
	background-color: blue;
	color: white;
	margin: 1.25em;
	width: 7em;
	padding: .25em;
	font-family: "Times New Roman", Times, serif;
}

.banniere {
	overflow: hidden;
	white-space: nowrap;
	background-color: #ffff00;
	color: #000;
	font-size: 20px;
	border: 1px solid #ffff00;
	height: 50px;
	display: flex;
	align-items: center;
	position: relative;
	width: 30em;
}

.texte-defilant {
	display: inline-block;
	position: absolute;
	animation: defilement 10s linear infinite;
	color: green;
}

@keyframes defilement {
	from {
		left: 100%;
	}
	to {
		left: -100%;
	}
}
@keyframes border-flash {
	0% {
		border-color: red;
	}
	33% {
		border-color: green;
	}
	66% {
		border-color: yellow;
	}
	100% {
		border-color: red;
	}
}

#pub {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#pub img {
	width: 100%;
}

#charentaises {
	width: 100%;
	max-width: 250px;
	text-align: center;
	border: 5px solid red;
	animation: border-flash 1s infinite;
}

#crazy {
	width: 100%;
	max-width: 250px;
	text-align: center;
	border: 5px solid red;
	animation: border-flash 1s infinite;
}

#hot {
	width: 100%;
	max-width: 250px;
	text-align: center;
	border: 5px solid red;
	animation: border-flash 1s infinite;
}

.content-container {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 0;
	align-items: start;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}

#events {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
	gap: 0px;
	width: 102%;
	max-width: 1255px;
	margin: 0px -36px;
	box-sizing: border-box;
	overflow: hidden;
}
